* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'nunito', sans-serif;
    background-image: url("img/bgr_3.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    scroll-behavior: smooth;
}

.display_none {
    display: none !important;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    font-size: 21px;
}

h3 {
    margin: 0;
}

h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 800;
}

p {
    margin: 0;
    font-size: 12px;
}

.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: white;
    gap: 400px;
    width: 100%;
    z-index: 1;
    top: 0;
    box-shadow: rgba(20, 20, 20, 0.6) 0px 3px 3px;
    background-color: rgb(0, 35, 56);
    gap: 0;
}

#pokedex_logo {
    height: 40px;
    object-fit: contain;
    cursor: pointer;
}

.searchbar_container {
    display: none;
    border-radius: 24px;
    padding: 4px;
}

#searchbar {
    width: 200px;
    text-align: center;
    color: white;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(255, 255, 255);
}

#searchbar:focus {
    outline: none;
}

#searchbutton {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 21px;
}

::placeholder {
    color: white;
    font-size: 14px;
}

.searchicon {
    height: 24px;
    object-fit: contain;
}

.searchicon:hover {
    transform: scale(1.1);
}

/* SEARCH */
.search_result {
    margin-top: 300px;
}

#loaded_pokemon_counter {
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: 'VT323', sans-serif; */
    font-size: 16px;
    font-weight: 400;
}

.cursor {
    animation: blink-animation 1s steps(2, start) infinite;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#content_container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 24px;
    padding: 24px;
    margin: 56px 0 80px 0;
}

.pokemon_card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-radius: 16px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    background-image: url("img/pokeball-gray.svg");
    background-size: 240px;
    background-position: right;
    background-repeat: no-repeat;
}

.pokemon_card:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.pokemon_png {
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: absolute;
    right: 15%;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
}

.pokemon_png_size {
    height: 100px;
    width: 100px;
    object-fit: contain;
    position: absolute;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    margin-top: -80px;
}

.pokemon_card_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: 16px;
    border-radius: 16px;
    gap: 8px;

}

.pokemon_thumbnail_types {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.pokemon_card_types {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.load_more_pokemon_container {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px;
    background-color: rgb(0, 35, 56);
    color: white;
}

#load_more_pokemon {
    /* font-family: 'VT323', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

/* INFOCARD */
#pokemon_info_container {
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(22, 22, 22, 0.5);
}

.pokemon_infocard {
    height: 100%;
    width: 100%;
    padding: 4px;
    border-radius: 0;
    overflow-y: scroll;
    background-color: rgb(255, 255, 255);
    scrollbar-width: none;
    /*hide scrollbar - Firefox */
    -ms-overflow-style: none;
    /*hide scrollbar - Internet Explorer */
}

.pokemon_infocard::-webkit-scrollbar {
    /*hide scrollbar - Safari + Chrome */
    display: none;
}

.pokemon_info_header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 300px;
    width: 100%;
    border-radius: 0;
    padding: 16px 32px 0 32px;
    background-image: url("img/pokeball-gray (1).svg");
    background-size: 360px;
    background-position: bottom;
    background-repeat: no-repeat;
}

.close_button {
    cursor: pointer;
    height: 24px;
    object-fit: contain;
}

.close_button:hover {
    transform: scale(1.2);
}

.pokemon_info_header_headline_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pokemon_info_header_headline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}

.pokemon_info_id {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
}

.pokemon_info_container {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-radius: 24px;
    background-color: rgb(255, 255, 255);
    gap: 8px;
    padding: 0 32px 32px;
    border-radius: 24px;
    margin-top: -100px;
}

.pokemon_info_png_container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -32px;
}

.pokemon_png_info_size {
    height: 140px;
    object-fit: contain;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.35));
    display: flex;
    justify-content: center;
}

.pokemon_info_name {
    display: flex;
    align-items: baseline;
    margin-top: 0;
}

.pokemon_info_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.about_infos {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 8px;
    font-size: 15px;
}

.about_bgr_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 8px;
    width: 30%;
}

.pokemon_info_abilities {
    width: 100%;
}

.abilities_container {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.pokemon_info_stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 4px;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.pokemon_info_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-align: left;
}

.pokemon_info_category_buttons_container {
    position: sticky;
    top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 32px 0 24px 0;
    gap: 2px;
}

.pokemon_info_category_button {
    display: flex;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    color: white;
    padding: 8px;
    font-size: 15px;
}

.button_left {
    border-radius: 16px 0 0 16px;
}

.button_right {
    border-radius: 0 16px 16px 0;
}

.pokemon_info_category_button:hover {
    color: white;
    transform: scale(1.2);
    font-weight: 700;
}

.pokemon_info_category_button_ACTIVE {
    color: white;
    font-weight: 700;
}

.stats_row {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
}

.stats_name {
    width: 50px;
}

.stats_value {
    width: 20px;
}

.stat_bar_container {
    width: 100%;
    height: 6px;
    background-color: rgb(236, 236, 236);
    border-radius: 24px;
}

.stat_bar {
    height: 6px;
    border-radius: 24px;
}

.evolution_chain_row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    padding: 0 8px;
    font-size: 15px;
}

.pokemon_evolutin_png_container {
    text-align: center;
}

.pokemon_png_evolution_size {
    height: 100px;
}

.close_button_container {
    /* position: sticky;
    top: 0; */
}

.pokemon_info_header_headline_container {
    /* position: sticky;
    top: 48px; */
}

.evolution_arrow_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4px;
}

.arrow_right {
    height: 24px;
}

.pokemon_moves_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}


/* RESPONSIVE */

@media screen and (min-width: 480px) {
    #content_container {
        justify-content: center;
        margin: 80px 0 80px 0;
    }

    .pokemon_card {
        width: 100%;
    }

    .pokemon_card_info {
        max-height: 250px;
        max-width: 250px;
    }

    .pokemon_info {
        height: auto;

    }

    .pokemon_info_header {
        border-radius: 24px;
    }

    .header {
        flex-direction: row;
        padding: 8px 40px;
    }

    .load_more_pokemon_container {
        flex-direction: row;
        gap: 16px;
    }
}

@media screen and (min-width: 689px) {
    #pokedex_logo {
        height: 56px;
    }

    .searchbar_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4px;
    }

    .pokemon_card {
        width: 300px;
        height: 180px;
    }

    .pokemon_png {
        height: 120px;
        width: 120px;
        right: auto;
    }

    .pokemon_png_margin {
        margin: 48px 0 0 160px;
    }

    .pokemon_infocard {
        width: 560px;
        height: 800px;
        border-radius: 24px;
        padding: 4px;

        transform: scale(0.9);
    }

    .pokemon_thumbnail_types {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .pokemon_card_types {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 8px;
    }

    .pokemon_png_info_size {
        height: 160px;
    }

    .pokemon_info_container {
        margin-top: -80px;
    }

    .pokemon_png_evolution_size {
        height: 120px;
    }
}