@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@keyframes rotate-animation {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}